<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="Electric"
			 
			connectionString="Data Source=DESKTOP-BBM4VKO;Initial Catalog=Electric;Integrated Security=True"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>